{% extends 'base.html' %}

{% block content %}
<h1 class="mt-2">Plataforma de Atendimento ao Servidor</h1>
<hr class="mt-0 mb-4">
          
<section class="jumbotron text-center">
        <div class="container">
          <p class="lead text-muted">
                Olá, bem vindo a plataforma de atendimento Psicologos <-> SUS. Somos um grupo de voluntários que estamos disponibilizando atendimento psicológico para você que esta na linha de frente.</p>
          <p>
            <a href="/match/signup" class="btn btn-primary my-2">Sou servidor do SUS e preciso de um atendimento.</a>
          </p>
            <p><a href="#" class="text-dark">Não sou servidor SUS, mas preciso de atendimento.</a></p>
        </div>
</section>
    
{% endblock %}