{% extends 'base.html' %}

{% block content %}
<h1 class="mt-2">Rede de Apoio Psicológico</h1>
<hr class="mt-0 mb-4">
          
<section class="jumbotron text-center">
        <div class="container">
          <p class="lead text-muted">
                Olá, bem vindo a Rede de Apoio Psicológico. Somos um grupo de voluntários que estamos disponibilizando atendimento psicológico para você que esta na linha de frente.</p>
          <p>
            <a href="/match/atendimento" class="btn btn-primary my-2">Sou servidor da saúde e preciso de um atendimento.</a>
          </p>
            <p><a href="/page/outros" class="text-dark">Não sou servidor da saúde, mas preciso de atendimento.</a></p>
        </div>
</section>
    
{% endblock %}