{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="javascript:history.back();">{% trans 'Back' %}</a>

</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}

<div id="content-main">
    <h2>Olá, {{request.user.first_name}}!</h2><br />
    <p>Essa é a plataforma da Confraelas para você encontrar e marcar os encontros nos Grupos de Aprendizados.</p>
    <p>Clique nos nomes de cada modalidade (em azul) para ver os horários disponíveis e vagas para inscrição.</p>
    <p>Obrigada por sua participação!</p>
    
    <ul>
    {% for k in kind %}
        <li><b><a href="{% url 'admin:apoio_event_changelist' %}?kind__id__exact={{k.id}}">{{k}}</a>:</b> <p>{{k.description}}</p></li>
    {% endfor %}
    </ul>

    <p>Qualquer dúvida entre em contato conosco através do email <a href="mailto:confraelas@marinahelou.com.br">confraelas@marinahelou.com.br</a></p>



  </div>
{% endblock %}
