{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="javascript:history.back();">{% trans 'Back' %}</a>

</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}

<div id="content-main">
    <h2>Olá, {{request.user.first_name}}!</h2><br />
    <p>A Rede de Apoio Psicológico oferece aos psicólogos e psicólogas voluntários uma rede de dispositivos de apoio composta de modalidades variadas de apoio - grupos de elaboração da experiência, reuniões clínicas e supervisões-, todos seguindo as normas de sigilo e gratuitos.
    Para formá-la, contamos com a contribuição também voluntária de grupos, associações e profissionais de abordagens clínicas diversificadas e que oferecem enquadres de trabalho também diferentes.
    Abaixo uma breve descrição de cada modalidade de apoio oferecida e a equipe ou o profissional responsável. Escolha a que mais te interessar e se inscreva no grupo correspondente.
    Clique nos nomes de cada modalidade (em azul) para ver os horários disponíveis e vagas para inscrição.
    Obrigada por sua participação!</p>
    
    <ul>
    {% for k in kind %}
        <li><b><a href="{% url 'admin:apoio_event_changelist' %}?kind__id__exact={{k.id}}">{{k}}</a>:</b> <p>{{k.description}}</p></li>
    {% endfor %}
    </ul>

    <p>Qualquer dúvida entre em contato conosco através do email <a href="mailto:apoiopsi.sus@gmail.com">apoiopsi.sus@gmail.com</a></p>
</div>
{% endblock %}
