{% extends 'base.html' %}

{% block content %}          
<section class="jumbotron text-center">
        <div class="container">
          <p class="lead text-muted">
          
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis suscipit augue id accumsan. Ut tempus mi turpis, non tincidunt augue ullamcorper a. Proin eget magna in quam condimentum tristique dapibus quis odio. Nulla pellentesque fringilla cursus. Curabitur posuere tempor aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam et vestibulum magna. Aenean ut metus nec diam ultricies fringilla eget sit amet enim. Suspendisse potenti. Nulla elementum hendrerit purus vel gravida. Aenean vel velit in urna lacinia pharetra et et lectus. Nam suscipit consectetur dapibus. Pellentesque sem augue, elementum sed vehicula quis, placerat quis justo. Phasellus egestas tempus orci non tincidunt. Etiam quis quam eget libero tempus finibus ac sit amet nisl.

              Etiam dapibus augue quis posuere ultrices. Donec luctus facilisis diam non iaculis. Quisque at viverra odio. In in lorem nec purus congue posuere ut fringilla odio. Maecenas sodales leo eget aliquam consequat. Nullam laoreet urna non metus semper, et suscipit leo scelerisque. Ut luctus justo ac velit luctus, in cursus ex pellentesque. Proin sed velit finibus, euismod dolor eu, porta urna. Sed mattis urna id massa pulvinar, ac dapibus eros bibendum.
          </p>
        </div>
</section>
    
{% endblock %}